@{
    ViewBag.Message = "Описание приложения:";
}
<h2>@ViewBag.Message</h2>

<p>Простое кривое веб-приложение, основанное на тестовом задании ЦВТ по .Net.</p>
<p>Содержит функции ежедневника и списка контактов.</p>