@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Заметки", "Index", "Note")</li>
        <li>@Html.ActionLink("Список контактов", "Index", "Contact")</li>
        <li>@Html.ActionLink("Список номеров контактов", "Index", "Number")</li>
    </ul>
</div>